RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteBase /pmwiki/
RewriteRule ^(?!pmwiki\.php)([\w-]+[/\.][\w-]+)/(\w+)/?$ pmwiki.php?n=$1&action=$2 [QSA,L]
RewriteRule ^(?!pmwiki\.php)([\w-]+)?([/\.])?([\w-]+)?/?$ pmwiki.php?n=$1$2$3 [QSA,L]

