<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>{$Title} / {$Group} $ActionTitle</title>
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
  <!--HTMLHeader-->
</head>
<body>
	<div id='wikileftShadow'></div>

<!--PageHeaderFmt-->
	<div id='wikihead'><form action='{$ScriptUrl}'></form></div>
<!--/PageHeaderFmt-->

<!--PageLeftFmt-->
	<div id='wikileft'><!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar--></div>
<!--/PageLeftFmt-->
	<div id='wikibody'>
<!--PageActionFmt-->
		<div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
<!--PageTitleFmt-->
		<div id='wikititle'> </div>
		<div class='pagegroup'><a href='{$ScriptUrl}/{$Group}'>{$Group}</a> /  <class='pagetitle'><a href='{$ScriptUrl}/{$Group}.{$Title}'>{$Title}</a> </div>
		{$HRLine}
<!--PageText-->
  </div>

  <div id='MengWikiFoot'>
		<a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
		<a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[GRC]</a> - 
    $[Last modified: {$LastModified}]. 
    Closing in <span id="ID_LOGOUTTIMER"></span>
  </div>
  
</body>

</html>
